body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo-f{
  width: 75px;
  cursor: pointer;
  
}
.logo-main{
  cursor: pointer;
}
.wrapper{
  display: flex;
  /* cursor: pointer; */
}
.wrapper :hover {
  text-decoration: underline;
}


/* search icon */
.s-icon{
  align-items: center;
  margin: 4px 6px 0 0;
}

